.login-section{
    width: 30%;
    .login-form{
        display: flex;
        flex-direction: column;

        label{
            margin-top: 3vh;
        }

        input {
            padding: 1vh;
            margin-top: 1vh;
            border: 2px solid navy;
        }

        button{
            margin-top: 2vh;
        }
    }
}

@media only screen and (max-width: 600px){
    .login-section{
        width: 95%;
        align-items: center;
        padding-bottom: 3vh;
        margin-bottom: 2vh;
        border-bottom: 1px solid navy;

        h2{
            font-size: 2rem;
        }

        .login-form{
            align-items: center;
            width: 100%;
            font-size: 1.3rem;

            input {
                width: 95%;
            }
        }
    }
}

