.random-search-form{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    align-items: center;

    label{
        display: flex;
        width: 50vw;
        align-items: baseline;
        justify-content: space-between;
        font-size: 1.1rem;

        .label-text{
            text-transform: capitalize;
        }
        
        select{
            padding: 1vh;
            margin-top: 2vh;
            width: 80%;
            font-size: 1.1rem;
            border: 2px solid navy;
        }
    }

    button{
        margin-top: 2vh;
    }
}

@media only screen and (max-width: 600px){
    .random-search-form{
        label{
            width: 80vw;
        }
        button{
            margin-top: 3vh;
        }
    }
}