.user-dashboard-page-main {
    width: 100%;
    margin-bottom: 5vh;
    #add-custom-recipe-button{
        margin-top: 2vh;
    }
    .recipe-cards-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        h2{
            font-size: 2rem;
            margin-bottom: 3vh;
        }

        .recipe-cards-container{
            // display: grid;
            display: flex;
            justify-content:center;
            align-items:center;

            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            grid-gap: 5rem;
            width: 100%;

        }
    }
}