.custom-button{
    width: fit-content;
    padding: 1vw;
    background-color: navy;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.1rem;
}

@media only screen and (max-width: 600px){
    .custom-button{
        padding: 2vh;
    }
}